<app-breadcrumb></app-breadcrumb>
<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-body">
        <div class="heading-new">
          <h5 class="mb-0">Operating Expenses</h5>
        </div>

        <div class="">
          <div class="row d-flexer">
             <div class="col-md-3 mt-4">
              <div class="search mt-1 me-4">
                <input
                  placeholder="Type here.."
                  type="text"
                  [(ngModel)]="searchText"
                  (input)="onSearchInput()"
                />
                <button type="submit">Search</button>
              </div>
            </div>
            <div class="col-md-3 mt-1 fiv-days-button">
              <div class="today-tomrrow">
                <div class="activity-filter-box">
                  <div class="local-forms">
                    <label> From Date</label>
                  </div>
                  <div class="ng--parent">
                    <input
                      type="text"
                      id="selectFromDate"
                      placeholder="-Select-"
                      class="form-control w-100"
                      [(ngModel)]="startDate"
                    />
                  </div>
                </div>
              </div>
            </div>

            <!-- To Date -->
            <div class="col-md-3 mt-1 fiv-days-button">
              <div class="today-tomrrow">
                <div class="activity-filter-box">
                  <div class="local-forms">
                    <label> To Date</label>
                  </div>
                  <div class="ng--parent">
                    <input
                      type="text"
                      id="selectToDate"
                      placeholder="-Select-"
                      class="form-control w-100"
                      [(ngModel)]="endDate"
                    />
                  </div>
                </div>
              </div>
            </div>

            <div class="col-md-3 pe-0 mt-4">
              <div class="d-flex">
                <button
                class="btn btn-primary me-2 mt-2"
                type="button"
                (click)="PrintPdfView()"
              >
                Download&nbsp;Pdf
              </button>
              <button class="btn btn-primary me-2 mt-2" type="reset">
                Cancel
              </button>
              </div>
            </div>

           
          </div>
        </div>

        <!-- <div class="col-md-4 mb-4">
              <div class="row justify-content-end">
                <div class="col-md-12 mb-4">
                  <div class="form-group local-forms">
                    <label for="">Select Date</label>
                    <input type="text" id="dateRangePicker" Class="form-control" (change)="getOperatingExpensesList()"/>
                  </div>
                </div>
              </div>
            </div> -->

        <div class="tab-content" id="expens-tab">
          <div class="expense-type"></div>

          <div class="tab-pane active" id="basictab2" role="tabpanel">
            <div class="row">
              <div class="col-md-12">
                <div class="table-responsive coloful-tabel">
                  <table class="table table-hover mb-0">
                    <thead class="student-thread">
                      <tr>
                        <th>#</th>
                        <th>Recorded By</th>
                        <th>Item Name</th>
                        <!-- <th>Requested Qty</th> -->
                        <!-- <th>Referral Link</th> -->
                        <th>Description</th>
                        <th>Date</th>
                        <th>Purchased Qty</th>
                        <th>Expense Type</th>
                        <th>Cost</th>
                        <th>Receipt/Payment Proof</th>
                      </tr>
                    </thead>

                    @if (skeletonShow === 'Skelton') {
                    <tr>
                      <td colspan="100%">
                        <app-skeleton-loader
                          skeletonShow="Skelton"
                          viewType="table"
                          [tableRows]="5"
                          [tableCols]="8"
                        ></app-skeleton-loader>
                      </td>
                    </tr>
                    } @else if(operatingExpenseList.length>0){
                    <tbody
                      *ngFor="
                        let item of operatingExpenseList
                          | paginate
                            : {
                                itemsPerPage: Contentsize,
                                currentPage: ContentP,
                                id: 'expenseList'
                              };
                        let i = index
                      "
                    >
                      <tr>
                        <td>{{ i + 1 }}</td>
                        <td>{{ item.createdBy }}</td>
                        <td>{{ item.itemName }}</td>
                        <!-- <td>{{item. quantityRequested}}</td> -->
                        <!-- <td *ngIf=" item.referralLink;else noLink">
                      <span *ngFor="let link of item.referralLink.split(',')">
                        <a [href]="link.trim()" target="_blank" class="me-2">
                          <i class="fa fa-paperclip"></i>
                        </a>
                      </span>
                      </td> -->
                        <td>{{ item.description }}</td>
                        <td>{{ item.createdDate | date : "MM-dd-yyyy" }}</td>
                        <td>{{ item.quantityPurchased }}</td>
                        <td>
                          <span class="expense-label expense-payroll">{{
                            item.expenseType
                          }}</span>
                        </td>
                        <td>{{ '$'+item.cost }}</td>
                        @if(item.receiptImage!=null){
                        <td>
                          <i
                            class="fa fa-download"
                            (click)="downloadReceipt(item)"
                          ></i>
                        </td>
                        } @else{
                        <td>No Receipt uploaded</td>
                        }
                      </tr>
                    </tbody>
                    } @else {
                    <tbody>
                      <tr>
                        <td colspan="8">
                          <div class="no-data">
                            <img
                              src="assets/img/no-data-img.png"
                              alt="No Record Found"
                            />
                            <span>No Record Found</span>
                          </div>
                        </td>
                      </tr>
                    </tbody>
                    }
                  </table>
                </div>
                <div
                  class="d-flex justify-content-between align-items-center mt-4 no-flex"
                >
                  <div class="total-entry" style="font-size: small">
                    <span>Total Entries:{{ operatingExpenseList.length }}</span
                    ><span class="entry-count"> </span>
                  </div>
                  <div class="datatable-pager datatable-paging-loaded">
                    @if( operatingExpenseList.length >5 ) {
                    <pagination-controls
                      previousLabel="prev"
                      nextLabel="next"
                      [maxSize]="5"
                      class="datatable-pager-nav my-2 mb-sm-0"
                      id="expenseList"
                      (pageChange)="ContentP = $event"
                    >
                    </pagination-controls>
                    }
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
