.select2-container--default .select2-selection--single .select2-selection__arrow {
	height: 26px;
	position: absolute;
	top: 1px;
	right: 1px;
	width: 20px;
}

.add_btn {
	padding: 2px 10px !important;
	position: absolute;
	top: -2px;
	color: #6c757d;
	font-size: 14px;
	outline: none !important;
	margin: 0 !important;
	left: 70px;
    z-index: 9999;
}

.gt{
    position: relative;
}


sitemap {
    list-style: none;
    padding-left: 0;
}
 
.sitemap li {
    line-height: 1.5rem;
    vertical-align: top;
    list-style: none;
    position: relative;
}
 
.sitemap li a {
    color: var(--icon-Color) !important;
}
 
.sitemap li a {
    text-decoration: none;
    color: #6c757d;
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
 
.text-uppercase {
    text-transform: uppercase !important;
}
 
.fw-bold {
    font-weight: 500 !important;
}
 
.sitemap li a i {
    display: inline-block;
}
 
.sitemap li a {
    color: var(--icon-Color) !important;
}
 
.sitemap li a {
    color: #6c757d;
    white-space: nowrap;
}
 
.sitemap > li > ul {
    margin-top: 1rem;
    padding-left: 0;
}
 
.sitemap ul {
    margin-left: 1.5rem;
    margin-bottom: 1rem;
    padding-top: 10px;
    padding-left: 2.5rem;
}
 
.sitemap ul li {
    position: relative;
}
 
.sitemap ul li::before {
    border-bottom: 1px solid var(--icon-Color) !important;
    border-left: 1px solid var(--icon-Color) !important;
}
 
.sitemap ul li::before {
    content: "";
    display: inline-block;
    width: 1.5rem;
    height: 1.5rem;
    border-bottom: 1px solid #dee2e6;
    border-left: 1px solid #dee2e6;
    position: absolute;
    top: -1rem;
}
.sitemap ul li a {
    margin-left: 2rem;
}
 
.input-chec{
    border-radius: .25em;
    margin-left: -1.443em;
    margin-left: -1.443em;
}
.row.user-permision.ng-star-inserted .d-flex.align-items-center {
    margin-left: 25px;
}