<app-breadcrumb></app-breadcrumb>
<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-body">
        <div class="heading-new new-student">
          <h5 class="mb-0">View Student</h5>
        </div>
        <div class="row">
          <div class="col-md-12" *ngIf="showBanner">
            <div class="student-banner">
              <div class="d-flex align-items-center">
                <div class="icon">
                  <img class="listing" src="assets/img/list.png" />
                </div>
                <div>
                  <h5 class="mb-1 fw-semibold">
                    Welcome to your student list!
                  </h5>
                  <p class="mb-0 text-muted">
                    This is where you will add and manage all students in your
                    school. Explore Bloomvie's functionality with the demo
                    students.
                  </p>
                </div>
              </div>
              <div class="close-btn" (click)="closeBanner()">&times;</div>
            </div>
          </div>
        </div>

        <ul class="nav nav-tabs" role="tablist">
          <li class="nav-item" role="presentation">
            <a class="nav-link active" data-bs-toggle="tab" aria-selected="false" role="tab" tabindex="-1"
              (click)="filterActiveDeactive('active')">Active</a>
          </li>
          <li class="nav-item" role="presentation">
            <a class="nav-link" data-bs-toggle="tab" aria-selected="false" role="tab" tabindex="-1"
              (click)="filterActiveDeactive('deactivate')">Deactivate</a>
          </li>
        </ul>

        <div class="row">
          <div class="col-md-6">
            <div class="form-group local-forms select-class-room">
              <!-- Classroom Selection -->
              <label for="classroomSelect" class="form-label"> Classroom</label>
              <ng-select id="classroomSelect" [multiple]="false" aria-placeholder="Select Class" placeholder="-Select-"
                [items]="AllClassList" bindLabel="className" bindValue="classID" (change)="selectedClass($event)">
              </ng-select>
            </div>
          </div>
          <div class="col-md-2 mt-3 d-none d-sm-block"></div>
          <div class="col-md-4 mt-3">
            <div class="search mt-2">
              <input placeholder="Type here.." type="text" [(ngModel)]="searchName" (input)="onInputChange()" />
              <button type="submit">Search</button>
            </div>
          </div>
        </div>


        <div class="table-responsive">
          <table class="table table-hover mb-0">
            <thead class="student-thread">
              <tr>
                <th>#</th>
                <th>Student&nbsp;Name</th>
                <!-- <th>Last&nbsp;Name</th> -->
                <!-- <th>Parent's Email</th> -->
                <th>Age&nbsp;Group</th>
                <th>Class</th>
                <!-- <th>Section</th> -->
                <th>Action</th>
              </tr>
            </thead>

            <tbody>
              @if (skeletonShow === 'Skelton') {
              <tr>
                <td colspan="100%">
                  <app-skeleton-loader skeletonShow="Skelton" viewType="table" [tableRows]="5" [tableCols]="6">
                  </app-skeleton-loader>
                </td>
              </tr>
              }
              @else if (studentList.length > 0) {
              @for (item of studentList | paginate: { itemsPerPage: 5, currentPage: currentPage, id: 'getPaymentHistory'
              }; track item; let i = $index) {
              <tr>
                <td>{{ i + 1 + (currentPage - 1) * itemsPerPage }}</td>
                <!-- <td>
                  <span class="table-img-div">
                    <img [src]="item.studentProfileImage || 'assets/img/dummy-avatar.jpg'"
                      class="rounded-circle table-image0new" style="object-fit: cover" />
                  </span>
                  {{ item.firstName }}
                </td> -->
                <!-- <td>{{ item.lastName || '--' }}</td> -->


                <!--COMMENTED ON 06-08-2025-->
                <!-- <td>
                  
                  <div class="tooltip-wrapper" style="position: relative" (mouseenter)="hoveredRow = item"
                    (mouseleave)="hoveredRow = null">
                    <span class="hover-anchor">{{ item.firstName }}</span>
                   
                    <app-tooltip *ngIf="hoveredRow === item" [employee]="{
                      fullName: item.firstName + '' + (item.lastName ? ' ' + item.lastName : ''),
                      email: item.parentList[0].email,
                      profile:item.studentProfileImage
                    }"></app-tooltip>
                  </div>
                </td> -->


                <!--ADDED ON 06-08-2025-->
                 <td>
                  <!-- tooltip  added here  -->
                  <div class="tooltip-wrapper" style="position: relative" (mouseenter)="hoveredRow = item"
                    (mouseleave)="hoveredRow = null">
                    <span class="hover-anchor">{{ item.firstName }}</span>
                    <!-- call here   and remove below div if able to call -->
                    <app-tooltip *ngIf="hoveredRow === item" [employee]="{
                      fullName: item.parentList[0].firstName + '' + (item.parentList[0].lastName ? ' ' + item.parentList[0].lastName : ''),
                      email: item.parentList[0].email,
                      profile:item.studentProfileImage
                    }"></app-tooltip>
                  </div>
                </td>






                <!-- <td *ngIf="item.parentList.length > 0; else noParent">
                  {{ item.parentList[0].email || '--' }}
                </td> -->
                <ng-template #noParent>
                  <td>--</td>
                </ng-template>
                <td>{{ item.label || '--' }}</td>
                <td>{{ item.className || '--' }}</td>
                <td>
                  <div class="actions">
                    <a *ngIf="userRoleId != 4" (click)="onOpenModal(item)" class="action-btn bg-danger-light me-2"
                      data-bs-toggle="modal" data-bs-target="#more-parent" data-toggle="tooltip"
                      title="Add More Parent">
                      <i class="fa fa-user-plus" aria-hidden="true"></i>
                    </a>
                    <a *ngIf="userRoleId != 4" (click)="sendMailToParentAndTeacherForPassword(item)"
                      data-toggle="tooltip" title="Send Credentials" class="action-btn bg-danger-light me-2">
                      <i class="fa fa-envelope" aria-hidden="true"></i>
                    </a>
                    <a (click)="selectItem(item)" class="action-btn bg-danger-light me-2">
                      <i class="feather-edit"></i>
                    </a>
                    @if(item.id>0){
                    <label class="switch mb-0" *ngIf="userRoleId == 3">
                      <input id="check{{ item.id }}" (change)="activeInactive(item.id, $event.target)"
                        [checked]="item.isActive" type="checkbox" />
                      <div class="slider">
                        <span class="status-text"></span>

                        <div class="circle">
                          <svg class="cross" xml:space="preserve" style="enable-background: new 0 0 512 512"
                            viewBox="0 0 365.696 365.696" y="0" x="0" height="6" width="6"
                            xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" xmlns="http://www.w3.org/2000/svg">
                            <g>
                              <path data-original="#000000" fill="currentColor"
                                d="M243.188 182.86 356.32 69.726c12.5-12.5 12.5-32.766 0-45.247L341.238 9.398c-12.504-12.503-32.77-12.503-45.25 0L182.86 122.528 69.727 9.374c-12.5-12.5-32.766-12.5-45.247 0L9.375 24.457c-12.5 12.504-12.5 32.77 0 45.25l113.152 113.152L9.398 295.99c-12.503 12.503-12.503 32.769 0 45.25L24.48 356.32c12.5 12.5 32.766 12.5 45.247 0l113.132-113.132L295.99 356.32c12.503 12.5 32.769 12.5 45.25 0l15.081-15.082c12.5-12.504 12.5-32.77 0-45.25zm0 0">
                              </path>
                            </g>
                          </svg>
                          <svg class="checkmark" xml:space="preserve" style="enable-background: new 0 0 512 512"
                            viewBox="0 0 24 24" y="0" x="0" height="10" width="10"
                            xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" xmlns="http://www.w3.org/2000/svg">
                            <g>
                              <path class data-original="#000000" fill="currentColor"
                                d="M9.707 19.121a.997.997 0 0 1-1.414 0l-5.646-5.647a1.5 1.5 0 0 1 0-2.121l.707-.707a1.5 1.5 0 0 1 2.121 0L9 14.171l9.525-9.525a1.5 1.5 0 0 1 2.121 0l.707.707a1.5 1.5 0 0 1 0 2.121z">
                              </path>
                            </g>
                          </svg>
                        </div>
                      </div>
                    </label>

                    }
                  </div>
                </td>
              </tr>
              }
              }
              @else {
              <tr>
                <td colspan="7" class="text-center">
                  <div class="no-data">
                    <img src="assets/img/no-data-img.png" alt="No Record Found" />
                    <span>No Record Found</span>
                  </div>
                </td>
              </tr>
              }
            </tbody>
          </table>
        </div>




        <div class="d-flex justify-content-between align-items-center mt-4 no-flex">
          <div class="total-entry" style="font-size: small">
            <span>Total Entries:</span><span class="entry-count"> {{ studentList.length }} </span>
          </div>
          @if(studentList.length > 5) {
          <pagination-controls (pageChange)="currentPage = $event" id="getPaymentHistory"></pagination-controls>
          }
        </div>
      </div>
    </div>
  </div>
</div>