<app-breadcrumb></app-breadcrumb>
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                <div  class="heading-new">
                    <h5  class="mb-0">View Subscription Plans</h5>
                  </div>
                <div class="table-responsive">
                    <table class="table table-hover mb-0">
                        <thead class="student-thread">
                            <tr>
                                <th>#</th>
                                <th>Subscription&nbsp;Plan&nbsp;Name</th>               
                                <th>Subscription&nbsp;Plan&nbsp;Duration</th>
                                <th>Subscription&nbsp;Plan&nbsp;Price</th>
                                <th>Subscription&nbsp;Plan&nbsp;Discount</th>
                                <th>Subscription&nbsp;Plan&nbsp;Features</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                                             @if (skeletonShow === 'Skelton') {
                      <tr>
                        <td colspan="100%">
                          <app-skeleton-loader skeletonShow="Skelton" viewType="table" [tableRows]="5" [tableCols]="5">
                          </app-skeleton-loader>
                        </td>
                      </tr>

                    }
                    @else if (subscriptionPlans.length > 0) {

                            <tr *ngFor="let plan of subscriptionPlans| paginate: { itemsPerPage: Contentsize, currentPage: ContentP, id: 'Agentcontrol' }; let i = index">
                                <!-- <td>{{ (ContentP - 1) * Contentsize + i + 1 }}</td> -->
                                <td>{{ (ContentP - 1) * Contentsize + i + 1 }}</td>
                                <td>{{ plan.planName }}</td>               
                                <td>{{ plan.billingCycle}}</td>
                                <td>{{ plan.price }}</td>
                                <td>{{ plan.discounts }}</td>
                                <td style="width: 710px;">
                                    <div class="desdata" style="height: 70px; text-wrap: wrap; overflow: auto;">
                                        {{ plan.featureNames }}
                                    </div>
                                </td>
                                <td>
                                    <div class="actions">
                                        <a class="action-btn bg-danger-light me-2" (click)="onEdit(plan)">
                                            <i class="feather-edit"></i>
                
                                        </a>
                                        <label class="switch mb-0">
                                            <input id="checkBoxAinA{{plan.id}}" value="isActive" name="isActive" type="checkbox"
                                                [checked]="plan.isActive" (change)="ActiveInactiveUserRole(plan.id, plan.isActive)">
                                            <div class="slider">
                                                <div class="circle">
                                                    <svg class="cross" xml:space="preserve" style="enable-background:new 0 0 512 512"
                                                        viewBox="0 0 365.696 365.696" y="0" x="0" height="6" width="6"
                                                        xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1"
                                                        xmlns="http://www.w3.org/2000/svg">
                                                        <g>
                                                            <path data-original="#000000" fill="currentColor"
                                                                d="M243.188 182.86 356.32 69.726c12.5-12.5 12.5-32.766 0-45.247L341.238 9.398c-12.504-12.503-32.77-12.503-45.25 0L182.86 122.528 69.727 9.374c-12.5-12.5-32.766-12.5-45.247 0L9.375 24.457c-12.5 12.504-12.5 32.77 0 45.25l113.152 113.152L9.398 295.99c-12.503 12.503-12.503 32.769 0 45.25L24.48 356.32c12.5 12.5 32.766 12.5 45.247 0l113.132-113.132L295.99 356.32c12.503 12.5 32.769 12.5 45.25 0l15.081-15.082c12.5-12.504 12.5-32.77 0-45.25zm0 0">
                                                            </path>
                                                        </g>
                                                    </svg>
                                                    <svg class="checkmark" xml:space="preserve"
                                                        style="enable-background:new 0 0 512 512" viewBox="0 0 24 24" y="0" x="0"
                                                        height="10" width="10" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1"
                                                        xmlns="http://www.w3.org/2000/svg">
                                                        <g>
                                                            <path class="" data-original="#000000" fill="currentColor"
                                                                d="M9.707 19.121a.997.997 0 0 1-1.414 0l-5.646-5.647a1.5 1.5 0 0 1 0-2.121l.707-.707a1.5 1.5 0 0 1 2.121 0L9 14.171l9.525-9.525a1.5 1.5 0 0 1 2.121 0l.707.707a1.5 1.5 0 0 1 0 2.121z">
                                                            </path>
                                                        </g>
                                                    </svg>
                                                </div>
                                            </div>
                                        </label>
                                    </div>
                                </td>
                
                            </tr>

                          }   @else {
                      <tr>
                        <td colspan="100%">
                          <app-skeleton-loader skeletonShow="NoRecord">
                          </app-skeleton-loader>
                        </td>

                      </tr>

                    }
                
                        </tbody>
                    </table>
                </div>
                
                <div class="col pagination-style">
                    <div class="datatable-pager datatable-paging-loaded">
                        @if(( subscriptionPlans!= null )&&( subscriptionPlans.length>5))
                        {
                        <pagination-controls previousLabel="prev" nextLabel="next" [maxSize]="5"
                            class="datatable-pager-nav my-2 mb-sm-0" id="Agentcontrol" (pageChange)="ContentP = $event">
                        </pagination-controls>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
