<app-breadcrumb></app-breadcrumb>
<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-body "> 
        <div  class="heading-new">
          <h5  class="mb-0">Add Subscription Plans</h5>
        </div>
        <form> 
            <div class="row "> 
                <div class=" col-md-4 mb-4">
                  <div class="form-group local-forms">
                    <label  >Subscription Name <span class="login-danger">*</span></label>
                    <input type="text" class="form-control">
                  </div>
                   
                    </div>
                    <div class=" col-md-4 mb-4">
                      <div class="form-group local-forms">
                        <label  >Subscription Duration <span class="login-danger">*</span></label>
                        <input type="text" class="form-control">
                      </div> 
                       
                        </div>
                        <div class=" col-md-4 mb-4">
                          <div class="form-group local-forms">
                            <label  >Subscription Price <span class="login-danger">*</span></label>
                            <input type="text" class="form-control">
                          </div>
                            
                            </div>
                 
            </div>

            <div class="row ">
                <div class=" col-md-6 mb-4">

                    <div class="  me-3">
                        <label class="">Subscription Features<span class="login-danger">*</span></label>
                        
                      </div>

                   <div class="check-grid">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                        <label class="form-check-label" for="flexCheckDefault">
                          feature 1
                        </label>
                      </div>
                      <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                        <label class="form-check-label" for="flexCheckDefault">
                          feature 2
                        </label>
                      </div>
                      <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                        <label class="form-check-label" for="flexCheckDefault">
                          feature 3
                        </label>
                      </div>
                      <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                        <label class="form-check-label" for="flexCheckDefault">
                          feature 4
                        </label>
                      </div>
                      <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                        <label class="form-check-label" for="flexCheckDefault">
                          feature 5
                        </label>
                      </div>
                      <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                        <label class="form-check-label" for="flexCheckDefault">
                          feature 6
                        </label>
                      </div>

                      
                   </div>
                </div>
            </div>
        
      
        <div class="row">
          <div class="col-md-12">
              <div class="student-submit text-end">
                  <button type="submit" class="btn btn-primary me-2">Submit</button>
                  <button type="reset" class="btn btn-secondary">Cancel</button>
                </div>
          </div>
      </div>
        </form>

      
        </div>
    </div>
  </div>
  </div>
