<app-header></app-header>

<main class="d-flex min-vh-100">
    <div class="bd-card">
        <div class="card-body">
            <section class="hero-section "> <!-- Adjust the padding-top (pt-5) to create space -->
                <div class="container">
                    <div class="row align-items-center row-text2">
                        <!-- Left Column with Text -->
                        <div class="col-lg-6">
                            <div class="my-heading-welcome">
                                <h4>Welcome TOC</h4>
                            </div>
                            <p class="welcome-pera">Thank you for choosing our platform to help manage your daycare efficiently and effectively. We’re here to assist you in making the day-to-day operations smooth, organized, and stress-free.</p>
                            <p class="welcome-pera2">To fully unlock the potential of ABC Management System, please take a few minutes to complete your onboarding process.</p>
                            <div class="hero-btn">
                                <a class=" animate__animated animate__fadeInUp" (click)="RedirectToTocRegistration()">Start Toc Registration</a>
                            </div>
                        </div>
                        
                        <!-- Right Column with Image -->
                        <div class="col-lg-6 text-center">
                            <img src="assets/img/welcome-img.png" alt="Image Alt Text" class="img-fluid  up-down">
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</main>