<app-breadcrumb></app-breadcrumb>
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                <div  class="heading-new">
                    <h5  class="mb-0">Add Class Enrollment</h5>
                </div>
                <div class="row">
                    <div class="col-md-4 mb-4">
                        <div class="form-group local-forms">
                            <label >Select Student<span class="login-danger">*</span></label>
                            <select class="form-select">
                                <option value="0"></option>
                                <option value="1">John</option>
                                <option value="2">smith</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-4 mb-4">
                        <div class="form-group local-forms">
                            <label >Select Class<span class="login-danger">*</span></label>
                            <select class="form-select">
                                <option value="0"></option>
                                <option value="1">Class-1</option>
                                <option value="2">Class-2</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-4 mb-4">
                        <div class="form-group local-forms">
                            <label >Select Section<span class="login-danger">*</span></label>
                            <select class="form-select">
                                <option value="0"></option>
                                <option value="1">Section-1</option>
                                <option value="2">Section-2</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-4 mb-4">
                        <div class="form-group local-forms">
                            <label >Select Teacher<span class="login-danger">*</span></label>
                            <select class="form-select">
                                <option value="0"></option>
                                <option value="1">Alex</option>
                                <option value="2">Martin</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 text-end ">
                        <div class="student-submit text-end">
                        <button type="submit" class="btn btn-primary me-2" >Submit</button>
                        <button type="reset" class="btn btn-secondary">Cancel</button>
                      </div>
                      </div>
                </div>
            </div>
        </div>
    </div>
</div>