

<app-breadcrumb></app-breadcrumb> 
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body "> 
                <div  class="heading-new">
                    <h5  class="mb-0">Add Class Roster</h5>
                  </div>
                <form >
                    <div class="row "> 
                        <div class="col-md-6 mb-4"> 
                            <div class="form-group local-forms">
                                <label style="left:10px !important;">Select Date<span
                                        class="login-danger">*</span></label>
                                 <input type="text" class="form-control" formControlName="title">
    
                                
    
                            </div>
    
                        </div>
                        <div class="col-md-6 mb-4">
                            <div class="form-group local-forms">
                                <label style="left:10px !important;">Age Group<span
                                        class="login-danger">*</span></label>
                                <input type="text" class="form-control" formControlName="description">
    
                            </div>
    
                        </div>
    
    
    
                    </div>
                    <div class="row ">
                        <div class="col-md-6 mb-4"> 
                            <div class="form-group local-forms">
                                <label style="left:10px !important;">Time Slot<span
                                        class="login-danger">*</span></label>
                                 <input type="text" class="form-control" formControlName="title">
    
                                
    
                            </div>
    
                        </div>
                        <div class="col-md-6 mb-4">
                            <div class="form-group local-forms">
                                <label style="left:10px !important;">Total Children<span
                                        class="login-danger">*</span></label>
                                <input type="text" class="form-control" formControlName="description">
    
                            </div>
    
                        </div>
    
    
    
                    </div>
                    <div class="row ">
                        <div class="col-md-6 mb-4"> 
                            <div class="form-group local-forms">
                                <label style="left:10px !important;">Activity Name<span
                                        class="login-danger">*</span></label>
                                 <input type="text" class="form-control" formControlName="title">
    
                                
    
                            </div>
    
                        </div>
                        <div class="col-md-6 mb-4">
                            <div class="form-group local-forms">
                                <label style="left:10px !important;">Teacher Assigned<span
                                        class="login-danger">*</span></label>
                                <input type="text" class="form-control" formControlName="description">
    
                            </div>
    
                        </div>
    
    
    
                    </div>
    
     
     
                    <div class="row ">
                        <div class="form-group mb-0 col-md-12 text-end">
                            <div class="settings-btns">
                                <button type="submit" class="btn btn-primary me-2">Submit</button>
                                <button type="submit" class="btn btn-secondary" >Cancel</button>
                             
                            </div>
                        </div>
                    </div>
                </form>
    
              
    
    
            </div>
        </div>
    </div>

</div>
