 .staff-tag {
      display: inline-flex;
      align-items: center;
      background-color: #eee;
      border-radius: 20px;
      padding: 5px 10px;
      margin-right: 17px;
      margin-bottom: 5px;
      position: relative;
    }
  span.cross {
    font-weight: lighter !important;
    color: #5c5858;
    position: absolute;
    top: -5px;
    right: -11px;
    background: #d4e6f0;
    border-radius: 50%;
    height: 20px;
    width: 20px;
    text-align: center;
    font-size: 11px;
    line-height: 20px;
}.heading-new {
    position: relative;
}.Staff-back {
      position: absolute;
    right: 19px;
    top: -11px;
    /* background: #aa7da7;
    color: #fff; */
    padding: 3px 10px;
    cursor: pointer;
    z-index: 99;
    border-radius: 4px;
}

    .day-btn.active {
      background-color: #a2719e;
      color: white;
    }span.teacher-mg {
    height: 40px;
    margin-right: 10px;
    width: 40px;
    display: inline-block;
    border-radius: 50%;
}span.teacher-mg img {
    width: 100%;
    border-radius: 50%;
}.modal-dialog .form-check {
    margin-bottom: 7px;
  
    padding-bottom: 9px;
    margin-right: 14px;
}.btn-check:checked + .btn-outline-primary {
  background-color:  #a2719e;; /* Match your screenshot blue */
  color: white;
  border-color:  #a2719e;
}
.date-week {
   /* position: absolute; */
    margin-left: 14px;
    bottom: 4px;
    right: 16px;
    font-style: italic;
}.btn-check:checked + .day-btn {
 background-color: #a2719e;
    color: white;
    border-color: #a2719e;
}

.day-btn {
 border: 1px solid #bdabbd;
    color: #bdabbd;
  padding: 6px 12px;
      width: 13%;
  margin-right: 4px;
  border-radius: 6px;
  cursor: pointer;
}.days--color {
   background: #f5f0f5;
    padding: 30px 10px;
    border-radius: 5px;
 
    position: relative;
    justify-content: space-around;
    align-items: baseline;
    vertical-align: middle;
}option {
    font-size: 14px !important;
}select.form-select {
    font-size: 13px;
}
/* }select.form-select.w-80 {
    width: 80%;
    float: left;
} */
 .teacher {
    background: #d0e4ef;
    padding: 10px;
    margin-bottom: 13px;
}.teacher label {
    font-size: 16px;
    font-weight: bold;
margin-left: 10px;
    color: var(--main-color);
}.col-md-12.main-teacher h3 {
    font-size: 19px;
    margin-top: 33px;
}.mark-your-class form .day {
    display: inline-block;
    padding-left: 9px;
}.teacher2 label {
    font-size: 18px;
    font-weight: bold;

    color: var(--main-color);
}.day label {
    font-size: 14px;
    font-weight: 400;
    margin-left: 5px;
    color: #000000;
}.mark-your-class p {
    background: var(--main-color);
    padding: 3px 10px;
    color: #fff;
}.teacher2 {
    
    margin-bottom: 19px;
    padding-bottom: 29px;
}

.disabled-label {
    color: gray; 
    cursor: not-allowed;
    opacity: 0.6;
    pointer-events: none; 
  }

  .dropdown-menu .dropdown-item {
    list-style-type: disc; /* Default bullet */
    list-style-position: inside;
    display: list-item; /* Ensure it appears as a list item */
    font-size: 12px;
  }

  .setting-content{
    float:right;
  }

  .gp-20{
    margin-bottom: 0.5rem;
  }

  .inf.mt-3 {
    border: 1px sold var(--main-color);
    border: 1px solid #cfe3ee;
    padding: 10px 5px;
    border-radius: 5px;
}

.dropdown:hover>.dropdown-menu {
    display: block;
  }
  
  .dropdown>.dropdown-toggle:active {
    /*Without this, clicking will make it sticky*/
      pointer-events: none;
  }

  .ans .fa-exclamation-circle{
    color: #a1a1a1 !important;
  }
  .imf{

    display: flex
;
    min-height: 150px;
    min-width: 150px;
    justify-content: center;
    align-items: center;
  }

  .imf img{
    mix-blend-mode: color;
  }

  .days-box .day:first-child{
    padding: 0px !important;
  }

  .mark-your-class form .day:first-child{

    padding: 0px !important;
  }

  .pty{
    top: -2px;
  }
.assign-teacher
{
  margin-bottom: 10px;
  background: #f3f9f9;
  padding: 16px 10px;
  margin-top: 10px;
  border: 1px solid #c5dbdb;

  box-shadow: 4px 4px 11px #cdcdcd8f;
}span.teacher-name {
    margin-right: 20px;
}.teacher2 label {
    text-transform: capitalize;
}.days-box span.i svg {
    stroke: red;
    fill: var(--main-color);
    font-weight: bold;
    width: 34px;
    height: 38px;
}span.teacher-name b {
    margin-right: 6px;
}

.lft-data {
  border: 1px dotted #b8d1d17a;
  padding: 10px 5px;
  border-radius: 3px;
  background: #edf5f8;
}span.assingned-class span {
  display: contents;
}.assingned-class {
  display: flex
;
  flex-wrap: wrap;
  width: 100%;
  text-wrap: auto;
}.slot-container {
  float: left;
  margin-right: 30px;
  border: 1px solid #d3e6ed;
  padding: 2px 10px;
  border-radius: 5px;
  margin-bottom: 11px;
}.day {
  /* border-bottom: 1px dotted #c9d7e0; */
  padding-bottom: 9px !important;
  padding-top: 12px;
  display: -webkit-box;
}.slot-container label {
  margin-right: 30px;
  margin-bottom: 0px;
}

.class-like{
  float: left;
    display: ruby;
}


.disabled-label {
  color: gray; 
  cursor: not-allowed;
  opacity: 0.6;
  pointer-events: none; 
}


/* new */

.avery{
  border: 1px solid var(--main-color);
  /* padding: 15px 8px; */
  border-radius: 5px;
  opacity: 0.9;
  margin-bottom: 20px;


}
.hea{
  background: var(--main-color);
  opacity: 0.7;
  padding: 10px 5px;
}
.text-muted {
  color: #6c757d !important;
  opacity: 0.6;
  pointer-events: none;
}
.bdr-class{
  border-bottom: 1px dotted #dee7ea;
}
.repeat-div{

    display: flex;
    flex-wrap: wrap;

}
.highlight {
  background-color: #d1e7dd !important; /* Light green or any color */
  font-weight: bold;
}


@media(max-width:1200px){


  .mob-flex{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

  }
  .mob-res{
    padding: 13px 0px;
}
.day-btn {
    width: 100% !important;
}
.res-cs{
  margin-top: 10px;
}
}
@media(max-width:768px){
    .diver{
    display: flex;
    flex-direction: column;
  }
}

@media(max-width:576px){
  .diver .text-muted{
    max-width: 300px;
    margin-top: 20px;

  }
  .diver{
    display: flex;
    flex-direction: column;
  }
}