<!-- <ngx-spinner class="bg-light-subtle">
   
    <div class="">
      <div class="preloader-wrap">
     
        <img src="assets/img/loading-main.svg" alt="logo" class="img-fluid preloader-icon2">
      
      </div>
    </div>
</ngx-spinner>   -->

<ngx-spinner type="ball-scale-multiple">

  <div class="">
    <div class="preloader-wrap">
      <img src="assets/img/loading-main.svg" alt="logo" class="img-fluid preloader-icon">
      <div class="loading-bar">
      

      </div>
    </div>
  </div>
</ngx-spinner>  

<!-- Preloader -->
<div id="preloader" class="bg-light-subtle">
  <div class="preloader-wrap">
     
      <img src="assets/img/loading-main.svg" alt="logo" class="img-fluid preloader-icon2">
      
  </div>
</div>



<!-- <div class="color-switcher"> 
    <div class="switcher-btn" title="Select Theme Color">
      <i class="fas fa-cog"></i>
    </div>
    <h3>Select color</h3>
    <div class="theme-buttons-container">
      <span class="theme-buttons" data-color="#a2719e" style="background: #a2719e;"></span>
      <span class="theme-buttons" data-color="#809bce" style="background: #809bce;"></span>
      <span class="theme-buttons" data-color="#856b52" style="background: #856b52;"></span>
      <span class="theme-buttons" data-color="#52b2cf" style="background: #52b2cf;"></span>
      <span class="theme-buttons" data-color="#446ead" style="background: #446ead;"></span>
      <span class="theme-buttons" data-color="#212120" style="background: #212120;"></span>
      <span class="theme-buttons" data-color="#5c92aa" style="background: #5c92aa;"></span>
      <span class="theme-buttons" data-color="#ed5d74" style="background: #ed5d74;"></span>
      <span class="theme-buttons" data-color="#f4a74f" style="background: #f4a74f;"></span>
  
    </div>
  </div>  -->
  


<router-outlet></router-outlet>