<div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-body">

<div class="errormain ">
    <div class="row d-flex align-items-center h-100 justify-content-center">
        <div class="col-lg-6 col-xl-4 mb-4">
            <div class="error-text-box">
        <div class="error-img">
            <img src="assets/img/error.gif">
            </div>
            <div class="text-center">
                <h2 class="mt-0 mb-2 text-danger fs-1">Whoops! Page not found </h2>
                <p class=" mb-3 fs-4 pera-error">It's looking like you may have taken a wrong turn. Don't worry...
                    it happens to the best of us. You might want to check your internet connection.
                    Here's a little tip that might help you get back on track.</p>

                <a href="dashboard" class="btn btn-primary me-2"><i class="mdi mdi-arrow-left-bold me-1"></i>Back to Dashboard</a>
            </div>

        </div> 
    </div>
</div>
</div>
</div>
</div>
</div>