<app-breadcrumb></app-breadcrumb>
<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-body ">
        <div  class="heading-new">
          <h5  class="mb-0">Localization Details</h5>
        </div>
        <form>
            <div class="row ">
              <div class="col-md-6 mb-4">
                <div class="form-group local-forms">
                  <label class=""
                    >Time Zone<span class="login-danger gt">*</span></label
                  >
  
                  <select
                    class="form-control form-select select select2-hidden-accessible"
                    data-select2-id="1"
                    tabindex="-1"
                    aria-hidden="true"
                    aria-label="Default select example"
                  >
                    <option data-select2-id="3">Select</option>
                    <option data-select2-id="9">UTC</option>
                    <option data-select2-id="10">IST</option>
                    <option data-select2-id="11">EST</option>
                  </select>
  
                  <span role="presentation" class="select2-selection__arrow"
                    ><b role="presentation"></b
                  ></span>
                </div>
              </div>
                 <div class="col-md-6 mb-4">
                  <div class="form-group local-forms ">
                    <label class=""
                      >Country Of Region<span class="login-danger gt">*</span></label
                    >
      
                    <select
                      class="form-control form-select select select2-hidden-accessible"
                      data-select2-id="1"
                      tabindex="-1"
                      aria-hidden="true"
                      aria-label="Default select example"
                    >
                      <option data-select2-id="3">Select</option>
                      <option data-select2-id="9">India</option>
                      <option data-select2-id="10">UK</option>
                      <option data-select2-id="11">USA</option>
                    </select>
      
                    <span role="presentation" class="select2-selection__arrow"
                      ><b role="presentation"></b
                    ></span>
                  </div>
                 </div>
          
            </div> 
         <div class="row ">
          <div class="col-md-6 mb-4">
            <div class="form-group local-forms">
              <label class=""
                >Currency Symbol<span class="login-danger gt">*</span></label
              >
  
              <select
                class="form-control form-select select select2-hidden-accessible"
                data-select2-id="1"
                tabindex="-1"
                aria-hidden="true"
                aria-label="Default select example"
              >
                <option data-select2-id="3">Select</option>
                <option data-select2-id="9">$</option>
                <option data-select2-id="10">$</option>
                <option data-select2-id="11">$</option>
              </select>
  
              <span role="presentation" class="select2-selection__arrow"
                ><b role="presentation"></b
              ></span>
            </div>
          </div>
                     <div class="col-md-6 mb-4">
                      <div class="form-group local-forms">
                        <label class=""
                          >Date Format<span class="login-danger gt">*</span></label
                        >
          
                        <select
                          class="form-control form-select select select2-hidden-accessible"
                          data-select2-id="1"
                          tabindex="-1"
                          aria-hidden="true"
                          aria-label="Default select example"
                        >
                          <option data-select2-id="3">Select</option>
                          <option data-select2-id="9">05/08/2024</option>
                          <option data-select2-id="10">08/05/2024</option>
                          <option data-select2-id="11">2024/08/05</option>
                        </select>
          
                        <span role="presentation" class="select2-selection__arrow"
                          ><b role="presentation"></b
                        ></span>
                      </div>
                     </div>
           
         </div>
        <div class="row">
            <div class="form-group mb-0 col-md-12 text-end">
                <div class="settings-btns">
                <button type="submit" class="btn btn-primary me-3">Submit</button>
                <button type="submit" class="btn btn-secondary">Cancel</button>
                </div>
                </div>
        </div>
        </form>
        </div>
    </div>
  </div>

</div>












