<app-breadcrumb></app-breadcrumb>
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="table-responsive">
                            <table class="table table-hover mb-0">
                                <thead class="student-thread">
                                    <tr>
                                        <th>#</th>
                                        <th>Job&nbsp;Title</th>
                                        <th>Job&nbsp;Type</th>
                                        <th>Applied&nbsp;On</th>
                                        <th>Candidate&nbsp;Name</th>
                                        <th>Email</th>
                                      
                                        <th>Experiance</th>
                                     
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>1</td>
                                        <td>Teacher</td>
                                        <td>Full-Time</td>
                                        <td>05-09-2024</td>
                                        <td>Smith</td>
                                        <td>smith&#64;gmail.com</td>
                                  
                                        <td>04 Years</td>
                                      
                                        <td>
                                            <div class="actions">
                                                <a title="Download Resume" class="action-btn bg-danger-light me-2" >
                                                  <i class="feather-download"></i>
                                                </a>
                                                <a class="action-btn bg-danger-light me-2" title="View-Staff" data-bs-toggle="modal" data-bs-target="#exampleModal">
                                                    <i class="feather-eye"></i>
                                                  </a>
                                                  <a
                                                  data-bs-toggle="modal"
                                                  title="Assign-Class"
                                                  data-bs-target="#exampleModal2"
                                                  class="action-btn bg-danger-light"
                                                  ><i class="fa-chalkboard-teacher fas"></i>
                                                </a>
                                              </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header"  style="border:none;">
          <h5 class="modal-title" id="exampleModalLabel">Candidate Details</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body pt-0">
            <div class="row ">
              <div class="col-md-12">
                <div class="student-personals-grp">
                  <div class="card mb-0">
                  <div class="card-body pb-0">
                    <div class="row">
                      <div class="col-md-6">
                        <div class="personal-activity">
                          <div class="personal-icons">
                          <i class="fa-briefcase fa-solid"></i>
                          </div>
                          <div class="views-personal">
                          <h4>Job Title</h4>
                          <h5>Teacher</h5>
                          </div>
                          </div>
                          <div class="personal-activity">
                            <div class="personal-icons">
                            <i class="fa-briefcase fa-solid"></i>
                            </div>
                            <div class="views-personal">
                            <h4>Job Type</h4>
                            <h5>Full Time</h5>
                            </div>
                            </div>

                            <div class="personal-activity">
                                <div class="personal-icons">
                                <i class="feather-calendar"></i>
                                </div>
                                <div class="views-personal">
                                <h4>Applied On</h4>
                                <h5>01-08-2024</h5>
                                </div>
                               
                                </div>
                                <div class="personal-activity">
                                  <div class="personal-icons">
                                  <i class="feather-calendar"></i>
                                  </div>
                                 
                                  <div class="views-personal">
                                    <h4>Experiance</h4>
                                    <h5>04 Years</h5>
                                    </div>
                                  </div>
                          
                       
                      </div>
                      <div class="col-md-6">
                       
                       
                        <div class="personal-activity ">
                            <div class="personal-icons">
                            <i class="feather-user"></i>
                            </div>
                            <div class="views-personal">
                            <h4>Candidate Name</h4>
                            <h5>John</h5>
                            </div>
                            </div>

                            <div class="personal-activity">
                                <div class="personal-icons">
                                <i class="feather-mail"></i>
                                </div>
                                <div class="views-personal">
                                <h4>Email</h4>
                                <h5>smith&#64;gmail.com</h5>
                                </div>
                                </div>
                         
                            <div class="personal-activity">
                            <div class="personal-icons">
                            <i class="feather-phone-call"></i>
                            </div>
                            <div class="views-personal">
                            <h4>Phone No.</h4>
                            <h5>+01 568547859</h5>
                            </div>
                            </div>
                            <div class="personal-activity">
                                <div class="personal-icons">
                                <i class="feather-calendar"></i>
                                </div>
                               
                                <div class="views-personal">
                                  <h4>Qualification</h4>
                                  <h5>bachelor degree in childcare</h5>
                                  </div>
                                </div>
                         
                       
                         
                        
                      </div>
                    </div>
                 <div class="row">
                  <div class="col-md-12">
                    <div class="personal-activity ">
                      <div class="personal-icons">
                      <i class="fa-file-invoice-dollar fas"></i>
                      </div>
                      <div class="views-personal">
                      <h4>Message</h4> 
                      <h5>Provide attentive supervision and engage with children aged 0.6-5 years through interactive activities and play. Plan and implement daily educational programs that promote developmental milestones while ensuring a safe and nurturing environment.</h5>
                      </div>
                      </div>
                  </div>
                 </div>
                 
                  
                  </div>
                  </div>
                  </div>
              </div>
            
  
        </div>
      
      </div>
     
    </div>
  </div>
  </div>



  <div
  class="modal fade"
  id="exampleModal2"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog ">
    <div class="modal-content">
      <div class="modal-header" style="border: none">
        <h5 class="modal-title" id="exampleModalLabel2">Assign Class</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body pt-0">
        <div class="row">
           
           
            <div class="col-md-12 mb-4">
                <div class="form-group local-forms">
                    <label>Class</label>
                    <input class="form-control" type="text" >
                   
                </div>
            </div>
            <div class="col-md-12 mb-4">
                <div class="form-group local-forms">
                    <label>Section</label>
                    <input class="form-control" type="text" >
                   
                </div>
            </div>
            <div class="col-md-12">
                <div class="student-submit text-end">
                    <button class="btn btn-primary me-2">Submit</button>
                    <button class="btn btn-secondary ">Cancel</button>
                </div>
            </div>

        </div>
      </div>
    </div>
  </div>
</div>