


.row.shinzo {
    margin-bottom: 2.25rem;
}

.check-grid {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    padding-bottom: 16px;
}
.br-btm{
    border-bottom: 1px solid #eaeaea;
}

