<section class="parent-dashboard">
  <div class="row">
    <div class="col-xl-3 col-sm-6 col-12 d-flex">
      <div class="card bg-comman w-100">
        <div class="card-body">
          <div
            class="db-widgets d-flex justify-content-between align-items-center">
            <div class="db-info">
              <h6>Hours taught</h6>
              <h3>4</h3>
            </div>
            <div class="db-icon">
              <img
                src="assets/img/icons/student-icon-01.svg"
                alt="Dashboard Icon" />
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-3 col-sm-6 col-12 d-flex">
      <div class="card bg-comman w-100">
        <div class="card-body">
          <div
            class="db-widgets d-flex justify-content-between align-items-center">
            <div class="db-info">
              <h6>Today's classes </h6>
              <h3>2</h3>
            </div>
            <div class="db-icon">
              <img src="assets/img/icons/calendar-svgrepo-com.svg"
                alt="Dashboard Icon" style="width: 35px !important;" />
            </div>
          </div>
        </div>
      </div>
    </div>
    <a routerLink="../view-teacher" class="col-xl-3 col-sm-6 col-12 d-flex">

      <div class="card bg-comman w-100">
        <div class="card-body">
          <div
            class="db-widgets d-flex justify-content-between align-items-center">

            <div class="db-info">
              <h6>Weekly classes</h6>
              <h3>3</h3>
            </div>
            <div class="db-icon">
              <img src="../../assets/img/icons/student-icon-02.svg"
                alt="Dashboard Icon" style="width: 43px !important;" />
            </div>
          </div>
        </div>
      </div>

    </a>
    <div class="col-xl-3 col-sm-6 col-12 d-flex">
      <div class="card bg-comman w-100">
        <div class="card-body">
          <div
            class="db-widgets d-flex justify-content-between align-items-center">
            <div class="db-info">
              <h6>Pending actions</h6>
              <h3>5</h3>
            </div>
            <div class="db-icon">
              <img
                src="assets/img/icons/teacher-icon-03.svg"
                alt="Dashboard Icon" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</section>

<div class="modal fade" tabindex="-1" id="AvailabilityModal" aria-hidden="true"
  aria-labelledby="TimeSlotModalLabel11"
  data-bs-keyboard="false" data-bs-backdrop="static">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="TimeSlotModalLabel11">Complete Your
          Profile</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal"
          aria-label="Close"
          (click)="CloseModal()"></button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-md-12">
            <p>
              To use certain services, you may be required to register on the
              platform. You agree to provide accurate, current, and complete
              information during the registration process and update such
              information as necessary.
            </p>
          </div>
        </div>
      </div>
      <div class="modal-footer" style="border: none !important">
        <div class="row">
          <div class="col-md-12">
            <button type="button" class="btn btn-primary me-2"
              (click)="Redirection()">Complete&nbsp;Profile
            </button>

            <button type="reset" class="btn btn-primary" (click)="CloseModal()">
              Cancel
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>