<div class="login-right">
  <!-- [class.hidden]="!showLoginPage"  -->
  <div class="login-right-wrap">
    <h1>Forgot Password</h1>
    <p class="account-subtitle">Let Us Help You</p>
    <form action="login.html" [formGroup]="forgotPasswordForm">
      <div class="form-group">
        <div class="iny">
          <label
            > Email Address
            <span class="login-danger">*</span></label
          >
          <input class="form-control" type="text" formControlName="email" placeholder="Enter your registered email address"/>
          <span class="profile-views"><i class="fas fa-envelope"></i></span>
        </div>

        @if (forgotPasswordForm.get('email')?.hasError('required') &&
        forgotPasswordForm.get('email')?.touched) {
        @if(forgotPasswordForm.get('email')?.errors){ @if
        (forgotPasswordForm.get('email')?.errors?.["required"]) {
        <span class="text-danger">This field is required.</span>
        } @if (forgotPasswordForm.get('email')?.errors?.['required'] &&
        forgotPasswordForm.get('email')?.errors?.['email']) {
        <span class="text-danger">Please enter a valid email address.</span>
        } } }
      </div>
      <div class="form-group">
        <button
          class="btn btn-primary btn-block"
          type="submit"
          [disabled]="forgotPasswordForm.invalid"
          (click)="forgotPassword()"
        >
          Reset My Password
        </button>
        <!-- <a  class="btn btn-primary btn-block">Reset My Password</a> -->
      </div>
      <div class="form-group text-center mb-0">
        <!-- <a class="btn btn-primary primary-reset btn-block" (click)="loginPage()">Login</a> -->
        <!-- <button class="btn btn-primary primary-reset btn-block" type="button"  >Login</button> -->
        <a style="color: rgb(93, 93, 248)" (click)="backToLogin()"
          >Go back to login
        </a>
        <!-- (click)="showLoginPage()" -->
      </div>
    </form>
  </div>
  <!-- 
    <div [class.hidden]="!showLoginForm">
        <app-login></app-login>
    </div> -->
</div>
