<div class="main-wrapper login-body">
  <div class="login-wrapper">
    <div class="container">
      <div class="loginbox">
        <div class="login-left">
          <img class="img-fluid" src="assets/img/login.png" alt="Logo">
        </div>
        <div class="login-right">

          <div class="login-right-wrap loginComponent">

            <div class="herf d-flex justify-content-center">
              <h1 class="pt-4 pb-4">Please Set Password</h1>
            </div>

            <form [formGroup]="passwordForm">
              <div class="form-group">
                <!-- <span>Email: ({{ passwordForm.get('email')?.value }})</span> -->
                <div class="position-relative">
                  <label>Enter your New Password <span class="login-danger">*</span></label>
                  <input class="form-control" id="newPassword" [type]="hide ? 'password' : 'text'" formControlName="newpassword">
                <span class="profile-views feather-eye toggle-password {{hide ? 'visibility_off' : 'visibility'}} "(click)="toggleVisibility1()"></span>

                </div>
              
                <!-- [ngClass]="{ 'is-invalid': passwordForm.get('newpassword')?.invalid && passwordForm.get('newpassword')?.touched }" -->


                  <div *ngIf="passwordForm.get('newpassword')?.invalid && passwordForm.get('newpassword')?.touched">
                    <span class="text-danger" *ngIf="passwordForm.get('newpassword')?.hasError('required')">This field is required.</span>
                    <span class="text-danger" *ngIf="passwordForm.get('newpassword')?.hasError('minlength')">Password must be at least 6 characters long.</span>
                  </div>

      

              </div>

              <div class="form-group">
                <div class="position-relative">
                  <label>Confirm your New Password <span class="login-danger">*</span></label>
                <input class="form-control" id="confirmPassword" [type]="show ? 'password' : 'text'" formControlName="confirmPassword">
                <span class="profile-views feather-eye toggle-password {{show ? 'visibility_off' : 'visibility'}} "(click)="toggleVisibility2()"></span>

                </div>
                
                <!-- [ngClass]="{ 'is-invalid': passwordForm.errors?.['mismatch'] && passwordForm.get('confirmPassword')?.touched }" -->

                  <div *ngIf="passwordForm.get('confirmPassword')?.touched && passwordForm.errors?.['mismatch']"> 
                    <span class="text-danger">Password do not match</span>
                  </div>
              
              
              </div>

              <div class="form-group mb-0">
                <button class="btn btn-primary primary-reset btn-block" type="submit"
                  (click)="onSubmit()">Submit</button>
              </div>
            </form>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>

