.gp-50{
    gap: 80px;
}

.toggleContainer {
  position: relative;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: fit-content;
  border: 3px solid var(--main-color);
  border-radius: 8px;
  background: var(--main-color);
  font-weight: bold;
  color: var(--main-color);
  cursor: pointer;
}
.toggleContainer::before {
  content: '';
  position: absolute;
  width: 50%;
  height: 100%;
  left: 0%;
  border-radius:8px;
  background: white;
  transition: all 0.3s;
}
.toggleCheckbox:checked + .toggleContainer::before {
   left: 50%;
}
.toggleContainer div {
  padding: 3px 10px;
  text-align: center;
  z-index: 1;
}
.toggleCheckbox {
  display: none;
}
.toggleCheckbox:checked + .toggleContainer div:first-child{
  color: white;
  transition: color 0.3s;
}
.toggleCheckbox:checked + .toggleContainer div:last-child{
  color: var(--main-color);
  transition: color 0.3s;
}
.toggleCheckbox + .toggleContainer div:first-child{
  color: var(--main-color);
  transition: color 0.3s;
}
.toggleCheckbox + .toggleContainer div:last-child{
  color: white;
  transition: color 0.3s;
}label.toggleContainer {
  padding: 0px 11px;
}
 
button.btn-primary {
    border-radius: 5px;
    padding: 2px 10px;
}
.special-discount {
    position: absolute;
    right: 0px;
}ul.nav.nav-tabs {
    position: relative;
}p.plan-name {
    background: #d2e6ef;
    border-radius: 4px;
    padding: 8px 10px;
}

.fa-plus{
  color: #fff !important;
}


.btn-toggle i{
    font-size: 12px;
}

/*--------plus minus icon change on toggle----------*/
.btn-toggle i:before {
    content: "\f0d7"; /* mdi-plus */
  }
  
  .btn-toggle[aria-expanded="true"] i:before {
    content: "\f0d8";  /* mdi-minus */ 
  
   
  }
  
  .btn-toggle[aria-expanded="false"] i:before {
    content:"\f0d7";  /* mdi-plus */
   
  }
.btn-toggle {
    color: white;
    border: none;
    padding: 0px 8px;
    border-radius: 5px;
    font-size: 16px;
    transition: background-color 0.3s;
    cursor: pointer;
}
.toogle-classroom button {
    margin-right: 6px;
}
.collapse-table.collapse.show {
    margin: 29px 0px;
    float: left;
    width: 100%;
    background: transparent !important;
}.toggle-classroom button.btn-toggle {
    margin-right: 7px;
}ul.nav.nav-tabs {
    margin-bottom: 15px !important;
}

.collapse{
  padding: 13px 45px;
}