
<div class="container-fluid">
    <div class="card">
      <div class="card-body ">
        <form>
            <div class="row ">
                <div class="col-md-6 mb-4">
                    <div class="form-group local-forms ">
                        <label  style="left:10px !important;">Job Plan Title<span class="login-danger">*</span></label>
                        <input type="text" class="form-control">
                        </div>
                </div>
                                 <div class="col-md-6 mb-4">
                                    <div class="form-group local-forms ">
                                        <label  style="left:10px !important;">Job  Plan Description<span class="login-danger">*</span></label>
                                        <input type="text" class="form-control">
                                        </div>
                                 </div>
                   
                        
            </div>
            <div class="row "> 

                <div class="col-md-6 mb-4">
                    <div class="form-group local-forms ">
                        <label  style="left:10px !important;">Job Plan Duration<span class="login-danger">*</span></label>
                        <input type="text" class="form-control">
                        </div>
                </div>
                              <div class="col-md-6 mb-4">
                                <div class="form-group local-forms ">
                                    <label  style="left:10px !important;">Number of Postings<span class="login-danger">*</span></label>
                                    <input type="text" class="form-control">
                                    </div>
                            </div> 
                          
              
            </div>
           

        
        
        <div class="row">
            <div class="form-group mb-4 col-md-12 text-end">
                <div class="settings-btns">
                <button type="submit" class="btn btn-primary me-3">Submit</button>
                <button type="submit" class="btn btn-secondary">Cancel</button>
                </div>
                </div>
        </div>
        </form>
             

       
        
       
        </div>
    </div>
  </div>
