.check-grid {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    padding-bottom: 16px;
}
.br-btm{
    border-bottom: 1px solid #eaeaea;
}



.edit-ico .fa-edit{
    font-size: 9px !important;
    color: var(--main-color) !important;
    cursor: pointer;
}

.edit-ico{
    position: absolute;
    right: 3px;
    top: -4px;
    cursor: pointer;
}
.pos-rel
{
    position: relative;
}







