
<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-body">
          <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
    <li class="nav-item" role="presentation">
      <button class="nav-link active" id="student-tab" data-bs-toggle="pill" data-bs-target="#student" type="button" role="tab">
        Student Details
      </button>
    </li>
    <li class="nav-item" role="presentation">
      <button class="nav-link" id="parent-tab" data-bs-toggle="pill" data-bs-target="#parent" type="button" role="tab">
Child's Daily Routine
      </button>
    </li>
  </ul>

  <!-- Tab Content -->
  <div class="tab-content" id="pills-tabContent">
    <div class="tab-pane fade show active" id="student" role="tabpanel">
            <app-child-parent-details></app-child-parent-details>
  
    </div>
    <div class="tab-pane fade" id="parent" role="tabpanel">
     <app-child-routine></app-child-routine>
    </div>
  </div>


        </div>
        </div>
        </div>
        </div>